.pageHeader {
  background:$darkBlue;
  padding:22px 25px;
}

.pageHeader__title {
  font-size:26px;
  font-weight:300;
  color:#fff;
}

.pageHeader__intro {
  font-size:14px;
  font-weight:300;
  color:#fff;
  margin-top:5px;
  opacity:0.8;
}

.pageHeader__titlePrevious {
  opacity:0.2;
}
